
.header
{
    display: flex;
    flex-direction: row;
    background-color: #73939c;
}

.Logo1
{
    margin-right: 50%;
    margin-left: 1.3%;
}

.boton1
{

    border-radius: 10px;
    background-color: #dddad8;
    margin-right: 2%;
    position: relative;
    transform: scale(0.75);
    width: 50%;
    font-size: x-large;

}

.boton1:hover
{
    background-color: #c4c3c1;
}

.modooscuro
{
    border-radius: 100%;
}

.botonmodooscuro
{
    background-color: #73939c;
    border-radius: 5px;
    border-style: none;
    margin-left: 6%;
    margin-right: 3%;
}

.Frontal
{
    display: flex;
    flex-direction: row;

}

.Tab
{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 2%;
    margin-top: 5%;
    background-color: #73939c;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.Tab ul
{
    padding-left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Tab li
{
    font-size: 250%;
    list-style-type: none;
    margin-bottom: 60%;
    
}

.Tab button
{
    border-style: none;
    background-color: #dddad8;
    width: 100%;
}

.Tab button:hover   
{
    background-color: #c4c3c1;
}

.nvidianoticia
{
    display: grid;
    place-items: center;
    margin-top: 5%;  
}

.nvidianoticia h1
{
    font-size:400%;
}

.nvidianoticia p
{
    width: 40%;
    font-size: large;
    text-align: center;
}

.nvidianoticia img
{
    border-style: solid;
    border-radius: 5%;
    width: 60%;
    margin-bottom: 5%;
}

.tendencias
{
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    background-color: #73939c;
    color: white;
    font-size: 100px;
}

.TendenciasBloque
{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TendenciasBloque p
{
    width: 30%;
    font-size: 200%;
    align-items: center;
    text-align: center;
    
}

.TendenciasBloque img
{
    margin-right: 15%;
    width: 30%;
    border-radius: 5%;
}

.Conversaciones
{
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    background-color: #73939c;
    color: white;
    font-size: 100px;
}

.Comunidad
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.BlackMyth
{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-bottom: 5%;
    margin-top: 3%;
}

/* Comentarios */


.Comentario
{
    display: flex;
    margin-bottom: 3%;
}

.ReComentario
{
    margin-left: 10%;
}

/* Foto perfil y Usuario */

.Profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Profile p
{
    font-size: x-large;
}

.userpng
{
    width: 50%;
}


/* Contenido */


.like-dislike
{
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
    width: 5%;
    height: 5%;
    border-style: none;
    border-radius: 5px;
    background-color: white;
}

.like-dislike:hover
{
    background-color: lightblue;
}

.like-dislike img
{
    display: flex;
    width: 100%;
    height: 100%;
}

.Comentario p
{
    display: flex;
    
}

.TitleNButton
{
    display: flex;
    flex-direction: row;
}

.footer
{
    background-color: #73939c;
}

.footer h1
{
    margin: 15px;
    padding-top: 5px;
    text-align: center;
    font-weight: bolder;
}

.ContentFooter
{
    margin-top: 5%;
    margin-left: 15px;
    padding: 20px;
}

.ContentFooter button
{
    margin-bottom: 40px;
    padding: 1px;
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: #73939c;
    font-size: 35px;
}

.ContentFooter button:hover
{
    background-color:#c4c3c1;
}

.FooterBloque
{
    display: flex;
    flex-direction: row;
}

.FooterBloque img
{
    margin-left: 50%;
    margin-top: 170px;
    width: 100%;
    height: 100%;
    transform: scale(0.75);
}

@media (max-width: 640px)
{

    .header
{
    display: flex;
    flex-direction: row;
    background-color: #73939c;
}

.Logo1
{
    margin-right: 15%;

}

.boton1
{

    border-radius: 10px;
    background-color: #dddad8;
    margin-right: 1%;
    position: relative;
    transform: scale(0.55);
    width: 550px;
    font-size: x-large;

}

.boton1:hover
{
    background-color: #c4c3c1;
}

.modooscuro
{
    border-radius: 100%;
}

.botonmodooscuro
{
    background-color: #73939c;
    border-radius: 5px;
    border-style: none;
    
    margin-left: 1%;
    margin-right: 3%;
}

.botonmodooscuro:hover
{
    background-color: lightblue;
}

.Frontal
{
    display: flex;
    flex-direction: row;

}

.Tab
{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    background-color: #73939c;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.Tab ul
{
    padding-left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Tab li
{
    font-size: 200%;
    list-style-type: none;
    margin-bottom: 60%;
    
}

.Tab button
{
    border-style: none;
    background-color: #dddad8;
    width: 100%;
}

.Tab button:hover   
{
    background-color: #c4c3c1;
}

.nvidianoticia
{
    display: grid;
    place-items: center;
    margin-top: 5%;  
}

.nvidianoticia h1
{
    font-size:300%;
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

.nvidianoticia p
{
    width: 40%;
    font-size: large;
    text-align: center;
}

.nvidianoticia img
{
    border-style: solid;
    border-radius: 5%;
    width: 60%;
    margin-bottom: 5%;
}

.tendencias
{
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    background-color: #73939c;
    font-size: 50px;
}

.TendenciasBloque
{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TendenciasBloque p
{
    width: 30%;
    font-size: 100%;
    align-items: center;
    text-align: center;
    
}

.TendenciasBloque img
{
    position: relative;
    top: 50px;
    margin-right: 15%;
    width: 30%;
    height: 50%;
    border-radius: 5%;

}

.Conversaciones
{
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    background-color: #73939c;
    font-size: 50px;
}

.Comunidad
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.BlackMyth
{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-bottom: 5%;
    margin-top: 3%;
}

/* Comentarios */


.Comentario
{
    display: flex;
    margin-bottom: 3%;
}

.ContentComentario
{
    margin-left: 20px;
}

.ReComentario
{
    margin-left: 10%;
}

/* Foto perfil y Usuario */

.Profile
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Profile p
{
    font-size: x-large;
}

.userpng
{
    width: 50%;
}


/* Contenido */


.like-dislike
{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    width: 30px;
    height: 10px;
    transform: scale(2);
    border-style: none;
    border-radius: 5px;
    background-color: white;
}

.like-dislike:hover
{
    background-color: lightblue;
}

.like-dislike img
{
    display: flex;
    width: 100%;
}

.Comentario p
{
    display: flex;
    
}

.TitleNButton
{
    display: flex;
    flex-direction: row;
}

.footer
{
    background-color: #73939c;
}

.footer h1
{
    margin: 15px;
    padding-top: 5px;
    text-align: center;
    font-weight: bolder;
}

.ContentFooter
{
    margin-top: 5%;
    margin-left: 15px;
    padding: 20px;
}

.ContentFooter h2
{
    margin-bottom: 40px;
    padding: 1px;
    color: white;
}

.FooterBloque
{
    display: flex;
    flex-direction: row;
}

.FooterBloque img
{
    margin-left: 2px;
    margin-top: 45px;
    width: 550px;
    height: 300px;
    transform: scale(0.55);
}

}